:root{
    --color-negro: #0D0B0B;
    --color-blanco: #D9D9D9;
    --color-verde: #2C4B35;
    --color-gris:  #F9F8F6;
    --color-blanco-catalogo-header: #DADAD8;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}

body{
    background-color: var(--color-negro);
    font-family: 'Inter', sans-serif;
    color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
   
}
a{
  text-decoration: none;
   color: var(--color-blanco);
}
/*===================================*/
/*       ESTILOS HEADER*/
/*===================================*/
/*Index.html*/
.index-header{
    height: fit-content;
    width: auto;
    background-image:url(../img/fondo_header_nuevo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-portada-header{
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}
 .texto-portada-header{
    width: 80%; 
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: .90rem;
  }
  .imagen-portada-header{
    display: flex;
    justify-content: center;
  }
  .modelo-verde{
    width: 65%;
  }
  .index-header-btn{
    background-color:var(--color-negro);
    color:var(--color-blanco);
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 40%;
    border-radius: 0.2rem;
    width: fit-content;

}
/*Catalogo.html*/
.navbar {
    background-color: var(--color-blanco-catalogo-header);
    padding: 1rem 0;
}
.logo-mobile-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
}

.logo-bolsa {
    color: var(--color-negro);
}
.navbar-collapse {
    background-color: var(--color-negro); 
    padding: 1rem;
    width: 100%;
    position: absolute; 
    top: 100%;
    left: 0;
    z-index: 1080;
}
.nav-link {
  color: var(--color-blanco);
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
}

.container-fluid {
    padding: 0 1.5rem;
}
 /*===================================
          SECCIÓN INFORMATIVA       
  ===================================*/
  /*Index.html*/
  .item-imagen-zorro{
    display: flex;
    align-items: end;
  }
  .item-info-zorro{
         height: auto; 
        margin: 0 auto;
        text-align: center;
        align-items: center;
        padding: 2rem 3.3rem 3rem 3.3rem; /*arriba, derecha, abajo, izquierda*/
    }
  .info-zorro-btn{
    background-color: var(--color-verde);
    color:var(--color-blanco);
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
     width: fit-content;
    border-radius: 0.5rem;
}
.item-slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    position: relative;
    height: fit-content; 
}
.slogan{
    display: flex;
    margin: 0 8vw;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    z-index: 2;

}
.inicial-estilo{
   font-family: "Pinyon Script", cursive;
   font-weight: 200;
   font-size: clamp(6rem, 10vw, 13rem);
   line-height: 1;
}
.slogan h3{
    font-size: clamp(3rem, 5vw + 1rem, 12rem);
}
.slogan p{
    font-size:  clamp(1rem, 2vw + 0.5rem, 4.2rem);
    font-family: "Vollkorn", serif;
    margin-top: -1rem; 
    margin-bottom: -1rem;
}
.container-modelo-marron {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 3%;
  z-index: 1;
  height: 60%;
  width: auto;
  align-items: end;
}
.container-modelo-marron img{
  object-fit: contain;
  height: 100%;
}

.container-flor-naranja{
  display: flex;
    position: absolute;
    bottom: 0;
    right: 3%;
    z-index: 1;
    height: 60%;
    width: auto;
     align-items: end; 
}
.container-flor-naranja img{
    height: 100%;
    object-fit: contain;
}

/*Sección informativa footer*/
.icon{
    font-size: clamp(1.7rem, 4vw + 0.5rem, 2.5rem);
}
.container-modelo-footer {
    display: flex;
    justify-content: center;
}
.container-modelo-footer img {
    width: 80vw;
    height: auto;
}
/*===================================*/
/*       ESTILOS MAIN*/
/*===================================*/

/*productos - index y catalogo*/
.container-grid-productos-index, .container-grid-productos{
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  column-gap: 10px;
  row-gap: 20px;
  margin: 0 .75rem 0 .75rem ; /*arriba, derecha, abajo, izquierda*/
}
.card-producto{
  display: flex;
  flex-direction: column;
  gap: .75rem;
  
}
.imagen-producto{
  position: relative;
   background-color: var(--color-gris);
}
.imagen-producto img{
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.img-superior {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--color-gris);
}
.imagen-producto:hover .img-superior {
  opacity: 0;
  cursor: pointer;
}
.imagen-producto:hover .img-base {
    transform: scale(1.04);
}
.descripcion-producto{
  display: flex;
  flex-direction: column;
}
.descripcion-producto p, h3, a{
  font-size: 0.75rem;
}
/*Video*/
.video {
  margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
}
/*===================================
              FOOTER                 
  ===================================*/
.footer-index{
    margin-top: -2rem;
}

/*Media Queries Mobile first*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  .modelo-verde{
    width: 50%;
   }
   .container-modelo-marron {
        height: 67%;
        left: 4%;
    }
   .container-flor-naranja {
    height: 65%;
    right: 4%;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container-fluid {
        padding: 0 4rem;
    }
   .texto-portada-header{
    width: 70%;
    font-size: 1rem;
   }
   .item-info-zorro{
        text-align: start;
        align-items: center;
        padding: 2rem 5rem 3rem 3.3rem; /*arriba, derecha, abajo, izquierda*/
    }
   .container-modelo-marron{
        height: 72%;
        left: 6%;
   }
      .container-flor-naranja {
        height: 72%;
        right: 6%;
    }
  .container-grid-productos-index, .container-grid-productos{
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.60rem;
  
  }
  .container-grid-productos-index{
    margin: 3rem;
    column-gap: 1rem;
  }
  .descripcion-producto p, h3, a{
    font-size: 0.85rem;
  }
    .container-modelo-footer img {
    width: 50vw;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .navbar-collapse {
        position: static; 
        background-color: transparent;
        padding: 0;
        z-index: auto;
    }
    .logo-mobile-center {
        position: static;
        transform: none;
    }
    .nav-link {
       color: var(--bs-nav-link-color);
        padding: 0.5rem 1rem;
    }

    .container-fluid {
        padding: 0 6rem;
    }
  .container-portada-header{
    margin: 0 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4rem;
    padding-top: 2rem;

}
  .texto-portada-header{
    text-align: start;
    font-size: 1rem;
   }
  .modelo-verde{
    width: 80%;
  }

 .container-grid-productos{
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1.75rem;
  }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container-portada-header{
    margin: 0 8rem;
  }
  .container-modelo-marron {
        height: 85%;
        left: 6%;
    }
  .container-flor-naranja {
        height: 85%;
        right: 6%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container-fluid {
        padding: 0 11rem;
    }
    .container-portada-header{
    margin: 0 10rem;
  }
.container-modelo-marron {
        left: 10%;
    }
  .container-flor-naranja {
        right: 10%;
    }
 
  .container-grid-productos-index{
    margin: 5rem;
    column-gap: 2rem;
  }
}