@use '../utilities/variables';
@use '../utilities/mixins';
/*===================================
              FOOTER                 
  ===================================*/
.footer-index{
    margin-top: -2rem;
}