@use '../utilities/variables';
@use '../utilities/extends';
@use '../utilities/mixins';
/*===================================*/
/*       ESTILOS MAIN*/
/*===================================*/

/*productos - index y catalogo*/
.container-grid-productos-index, .container-grid-productos{
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  column-gap: 10px;
  row-gap: 20px;
  margin: 0 .75rem 0 .75rem ; /*arriba, derecha, abajo, izquierda*/
}
.card-producto{
  @extend %flexColumn;
  gap: .75rem;
  
}
.imagen-producto{
  position: relative;
   background-color: variables.$color-gris;
}
.imagen-producto img{
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.img-superior {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: variables.$color-gris;
}
.imagen-producto:hover .img-superior {
  opacity: 0;
  cursor: pointer;
}
.imagen-producto:hover .img-base {
    transform: scale(1.04);
}
.descripcion-producto{
  @extend %flexColumn;
}
.descripcion-producto p, h3, a{
  font-size: 0.75rem;
}
/*Video*/
.video {
  margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
}
/*Nosotros.html*/
.texto-nosotros{
  @extend %flexjustifyCenter;
  @extend %fontAlingCenter;
 padding: 2rem 1.5rem;
  font-size: clamp(.75rem, 2vw, 1.2rem);
}
.kitsune-nosotros{
  width: 100%;
}
.container-info-producto-nosotros{
  background-color: variables.$color-blanco;
  padding: 2rem 1.5rem;
  color:  variables.$color-negro;
}
.columna-producto-nosotros{
  @extend %flexjustifyCenter;
  flex-direction: column;
  padding-top: 1rem;
}
.columna-producto-nosotros p{
  font-size: clamp(.65rem, 1vw, .90rem);
}
.columna-producto-nosotros h3{
  font-size: 0.90rem;
  font-weight: 700;
}
.carousel {
  @extend %flexjustifyCenter;
}
.carousel-inner{
  width: 55%;
}
.franja-nosotros-carrusel{
  display: flex;
  width: 100%;
  margin: 2rem 0;
  overflow-x: auto;
  gap: .50rem;
  background-color: variables.$color-blanco;
  color:  variables.$color-negro;
  font-weight: 700;
}
.franja-nosotros-carrusel::-webkit-scrollbar {
    display: none;
}
.group{
  @extend %flexjustifyCenter;
  align-items: center;
  gap: 1rem;
  animation: spin 7s infinite linear;
}
.texto-carrusel{
  height: 3rem;
  font-size: clamp(.90rem, 2vw, 1rem);
  text-align: center;
  align-content: center;
  width: 10rem;
}
@keyframes spin{
  from{translate: 0;}
  to{translate: -100%;}
}